<div class="page-content-area">
<h1>Create a Blogpost</h1>
    <h2>Fill in the details below</h2>
        <%= simple_form_for [@blogposts] do |f| %>
            <%= f.input :blog_title,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Blogpost Title" }%>
            <%= f.input :blog_sub_heading,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Blogpost Sub Heading" }%>
            <%= f.input :slug,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Slug" }%>
            <%= f.input :blog_text,
                        as: :rich_text_area,
                        required: true,
                        autofocus: true,
                        input_html: { class: "text-area-blog", autocomplete: "Blog Text" }%>
            <%= f.input :photo,
                        autofocus: true,
                        as: :file %>
            <%= f.input :date, 
                        required: true,
                        autofocus: true,
                        input_html: { class: "text-area-blog", autocomplete: "Date" } %>
            <%= f.submit "UPDATE", class: "btn btn-primary" %>
        <% end %>
</div>
