<div class="page-content-area-blog">
    <% content_for :meta_title, "#{@blogpost.blog_title} is on #{DEFAULT_META["meta_product_name"]}" %>
    <% content_for :meta_description, @blogpost.blog_sub_heading %>
    <% content_for :meta_image, cl_image_path(@blogpost.photo.key) %>
    <div>      
        <h3 class="table-h1"><%= @blogpost.blog_title %></h3>
        <p class="table-h2"><%= @blogpost.blog_sub_heading %></p>
        <p class="table-p"><%= @blogpost.blog_text%></p>
        <div class="flex table-button-spacing">
    </div>
    <% if user_signed_in? %>
    <div class="flex table-button-spacing">
        <%= link_to "Back to all blogposts", user_blogposts_path(current_user), class: "td-button" %>
    </div>
    <% else %>
    <div class="flex table-button-spacing">
        <%= link_to "Back", root_path, class: "td-button" %>
    </div>
    <% end%>
</div>