<div class="flex">        
    <div class="vert-nav-noclass">
        <%= render 'shared/vertnav' %>
        <%= yield %>
    </div>
    <div class="dashboard-area">
        <div class="section">
            <p>Blog Posts</p>
            <%= link_to "All Blogposts", user_blogposts_path(current_user) %>
        </div>
        <div class="section">
            <p>Employment</p>
            <%= link_to "All Employment Posts", user_employments_path(current_user) %>
        </div>
        <div class="section">
            <p>Portfolio</p>
            <%= link_to "All Portfolio Posts", user_portfolios_path(current_user) %>
            </ul>
        </div>
        <div class="section">
            <p>Projects</p>
            <%= link_to "All Project Posts", user_projects_path(current_user) %>
            </ul>
        </div>
    </div>
</div>