<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "IZ", root_path,class:"navbar-brand nav-logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag ("iz-avatar.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "About Me", "#aboutme" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Employment", "#Employment" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Portfolio", "#Portfolio" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blogposts", "#Blogposts" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Languages", "#Languages" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Programs", "#Programs" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Education", "#Education" , class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "#Contact",  class: "nav-link nav-hover" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link nav-hover" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
