<% if user_signed_in? %>
<div class="vertnav-bar">
    <div class="">
        <%= link_to "Dashboard", dashboard_index_path(current_user) , class:"navitem"%>
    </div>
    <div class="navitem">
        <%= link_to "Blogposts", user_blogposts_path(current_user), class:"navitem"%>
    </div>
    <div class="navitem">
        <%= link_to "Employment", user_employments_path(current_user), class:"navitem"%>
    </div>
    <div class="navitem">
        <%= link_to "Portfolio", user_portfolios_path(current_user), class:"navitem"%>
    </div>
    <div class="navitem">
        <%= link_to "Projects", user_projects_path(current_user) , class:"navitem"%>
    </div>
    <% end %>
</div>
