<div class="page-content-area">
    <h1>All Projects</h1>
    <p>All Projects should appear here</p>
    <div>
        <div class="button-container">
            <%= link_to "Add New", new_user_project_path(current_user), class: "button-main" %>
        </div>
        <div class="table-container">
            <table>
                <th>Projects</th>
                <tbody>
                    <tr>
                        <% @projects.each do |project| %>
                        <td>
                            <h3 class="table-h1"><%= project.project_name %></h3>
                            <p class="table-h2"><%= project.project_url %></p>
                            <p class="table-p"><%= project.project_description %></p>
                            <div class="flex table-button-spacing">
                                <%= link_to "Edit", edit_project_path(project),class: "td-button" %>
                                <%= link_to "Delete", project_path(project), method: :delete , class: "td-button" %>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>    
    </div>
</div>