<div class="page-content-area">
<h1>Create a Blogpost</h1>
    <h2>Fill in the details below</h2>
        <%= simple_form_for [@projects] do |f| %>
            <%= f.input :project_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Project Name" }%>
            <%= f.input :project_url,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Project URL" }%>
            <%= f.input :project_description,
                        :as => :text,
                        required: true,
                        autofocus: true,
                        input_html: { class: '', autocomplete: "Project Description" }%>
            <%= f.input :photo,
                        autofocus: true,
                        as: :file %>
            <%= f.submit "CREATE", class: "btn btn-primary" %>
        <% end %>
</div>
