<div class="all-blogposts-page">
    <h1>All Blogposts</h1>
    <p>All Blogposts should appear here</p>
    <div>
        <div class="button-container">
            <%= link_to "Add New", user_blogpost_index_path(current_user), class: "button-main" %>
        </div>
        <div class="table-container">
            <table>
                <th>Blogposts</th>
                <tbody>
                    <tr>
                        <% @blogposts.each do |blogpost| %>
                        <td>
                            <h3 class="table-h1"><%= blogpost.blog_title %></h3>
                            <p class="table-h2"><%= blogpost.blog_sub_heading %></p>
                            <p class="table-p"><%= blogpost.blog_text %></p>
                            <div class="flex table-button-spacing">
                                <%= link_to "Edit", user_blogpost_index_path(current_user), class: "td-button" %>
                                <%= link_to "Delete", user_blogpost_index_path(current_user), class: "td-button" %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>    
    </div>
</div>